body{
    margin: 0;
}
#error{
    font-size: 1.5em;
    font-family:'Courier New', Courier, monospace; 
}
#input{
    color: darkcyan;
    width: 100%;
    background: none;
    font-size: 1.5em;
    font-family:'Courier New', Courier, monospace; 
    font-weight: bold;
}
#error{
    color: red;
    text-align: center;
}
footer{
position: fixed;
bottom: 0;
width: 100%;
}
.input-area{
position: absolute;
height: 100%;
width: 100%;
}
.dialogFont{
font-family: 'Courier New', Courier, monospace;
}
#canvas{
    display: block;
    position: absolute;
}